extends headerLayout.pug

block content
	#content
		each post in posts	
			.school= post.title
				br
				p= post.poster
				p= post.body
				a(href= "/s/" +school + "/"+classs+"/"+ post.id) expand
		.school Post A New Post
			if logedin 
				form(action='/newpost' method="post")
					label(for='title') *Title*:
					br
					textarea.input(name='title', required, autocomplete="off", rows="4" )
					br
					label(for='body') *Body*:
					br
					textarea.input(name='body', autocomplete="off", rows="12" )
					br
					label(for='flair') Flair:
					br
					input(type='text', name='flair', autocomplete="off", disabled,value="null")
					input(type="hidden", name='school', autocomplete="off", value=school)
					input(type="hidden", name='classs', autocomplete="off", value=classs)
					br
					br
					input(type='submit', value='Submit')
			else
				p Login to post and get answers.
